$imagesPath: '/media/images/';

:root {
  --color-black: #333333;
  --color-white: #ffffff;
  --color-primary: #9873FF;
  --color-primary-hover: #B89EFF;
  --color-primary-active: #8052FF;
  --color-secondary: #B0B0B0;
  --color-active: #8052FF;
  --color-error: #F06A4D;
  --color-required: var(--color-error);
  --color-success: #0bb90b;
  --color-background: #F5F5F5;
  --color-border: #C8C5D1;

  --icon-fill: currentColor;
  --icon-stroke: none;

  --container-width: 1366px;

  --font-default: 'Open Sans', sans-serif;

  --transition-duration: .3s;
  --transition-timing-function: ease;
}

