.input {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 10px;
    line-height: 13px;
    color: var(--color-secondary);


    & input {
        padding: 5px;
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #C8C5D1;

        &:focus-visible {
            outline: none;
        }
    }

    &__error {
        border-color: red !important;
    }


    &--required p {
        position: relative;
        width: fit-content;

        &::after {
            content: "*";
            position: absolute;
            left: 100%;
            color: var(--color-primary);
        }
    }


}

