.modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s linear, visibility .4s linear;


    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 29px;
        height: 29px;

        & svg {
            pointer-events: none;
        }
    }



    & .close-icon {
        width: 30px;
        height: 30px;
    }



    &.open {
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }

}







