.clients {
    display: flex;
    flex-direction: column;
    padding: 40px 90px 100px;
    min-height: 1vh;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-black);
    
    @media (max-width: 1360px) {
        padding: 40px 20px 100px;
    }

    @media (max-width: 480px) {
        padding: 30px 10px 100px;
    }



    & h1 {
        margin-bottom: 28px;

        @media (max-width: 1360px) {
            margin-bottom: 12px;
        }

        @media (max-width: 480px) {
            margin-bottom: 6px;
        }
    }
       

    
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: var(--color-black);

        @media (max-width: 480px) {
            font-size: 18px;
            line-height: 24px;
        }
    }



    &__filters {
        display: grid;
        grid-template-columns:minmax(100px, 100px) minmax(200px, 370px) minmax(100px, 175px) minmax(100px, 173px) minmax(100px, 160px) minmax(100px, 186px);
        padding: 0 20px;

        @media (max-width: 1360px) {
            // grid-template-columns: minmax(60px, 70px)  minmax(200px, 233px) minmax(100px, 158px) minmax(100px, 146px) minmax(100px, 150px) minmax(100px, 186px);
            align-items: end;
            grid-template-columns: minmax(60px, 138px) minmax(200px, 276px) minmax(100px, 218px) minmax(100px, 189px) minmax(100px, 197px) minmax(100px, 264px);        }

        @media (max-width: 976px) {
            grid-template-columns: minmax(40px, 90px) minmax(110px, 237px) minmax(78px, 156px) minmax(60px, 167px) minmax(56px, 130px) minmax(44px, 90px);
            // grid-template-columns: minmax(40px, 60px) minmax(110px, 218px) minmax(78px, 98px) minmax(60px, 98px) minmax(56px, 129px) minmax(44px, 85px);
        }

        @media (max-width: 480px) {
            grid-template-columns: minmax(60px, 65px) minmax(217px, 240px) minmax(100px, 100px) minmax(98px, 100px) minmax(129px, 129px) minmax(95px, 96px);
        }
    }



    &__headline {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        color: var(--color-primary);

        &--max {
            margin-right: 25px;

            @media (max-width: 976px) {
               margin-right: 0;
            }
        }
    }



    &__content {
        min-height: 300px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color: var(--color-white);
    }


    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }



    &__table {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media (max-width: 480px) {
            max-width: 310px;
            width: fit-content;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }



    &__time {
        color: var(--color-primary);
    }



    &__frame {
        width: 100px;
        height: 100px;

        @media (max-width: 1360px) {
            width: 50px;
            height: 50px;
        }
    }



    &__inner {
        grid-template-rows: 60px;
        border-bottom: 1px solid var(--color-border);
    }



    &__item {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        margin: auto 0;
        font-size: 14px;
   
        
        &:first-child {
            font-size: 12px;
            color: var(--color-primary);
        }

        &:last-child {
            gap: 25px;

            @media (max-width: 976px) {
                gap: 9px;
            }
        }

        & .tooltip:nth-child(n+5):nth-child(-n+20){
            display: none;

           
        }

        &.active {
            .tooltip {
                display: flex !important;
            }

            .table-icon--ellipse {
                display: none;
            }
        }

        

    }
}



.close {
    display: none;
}


