.btn-secondary {
  @extend .btn;
  @include transition((background-color));

  background-color: var(--color-primary);
  padding: 10px;
  color: var(--color-white);

  &:hover {
    background-color: color-mix(in oklch, var(--color-secondary), var(--color-black) 10%);
  }
}


// Пример, переработать в своем стиле
.btn-svg {
  display: flex;
  gap: 2px;


  & svg {
    height: 12px;
    width: 12px;
  }

  &--red {}
  &--perple {
   &:hover {

   }
  }
}