.btn-primary {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-white);

      &:hover {
      background-color: var(--color-primary-hover);
      }

      &:active {
        background-color: var(--color-primary-active);
      }
  }


