.btn {
  @extend %reset-btn;

  cursor: pointer;

  &__save, &__change {
    padding: 12px 35px;
    background-color: var(--color-secondary);
    color: var(--color-white);
  }

  &-svg svg {
    pointer-events: none;
  }



  &__delete {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    // text-decoration: underline #333333;
    border-bottom: 1px solid var(--color-black);
  }
}

.add-icon {
  width: 16px;
  height: 16px;
}


.contact-cancel {
  fill: var(--color-primary);
}




// У каждого класса отдельный файл стилей