.table-icon {
    position: relative;
    width: 16px;
    height: 16px;
    fill: var(--color-secondary);
    cursor: pointer;
  
    
    
    &--ellipse {
        position: relative;
    }

    &--number {
        position: absolute;
        left: 2px;
        top: 2px;
        font-size: 10px;
        line-height: 100%;
        font-weight: 600;
    }
  }


  .icon {
    display: inline-block;

    &.active {
        display: none;
    }
  }